[boot]
{% if wsl_distribution_config.boot.command %}
command={{ wsl_distribution_config.boot.command }}
{% endif %}
systemd={{ wsl_distribution_config.boot.systemd | lower }}

[automount]
enabled={{ wsl_distribution_config.automount.enabled | lower }}
root={{ wsl_distribution_config.automount.root }}
{% if wsl_distribution_config.automount.options %}
options={{ wsl_distribution_config.automount.options }}
{% endif %}

[network]
{% if wsl_distribution_config.network.hostname %}
hostname={{ wsl_distribution_config.network.hostname }}
{% endif %}
generateHosts={{ wsl_distribution_config.network.generateHosts | lower }}
generateResolvConf={{ wsl_distribution_config.network.generateResolvConf | lower }}

[interop]
enabled={{ wsl_distribution_config.interop.enabled | lower }}
appendWindowsPath={{ wsl_distribution_config.interop.appendWindowsPath | lower }}

[user]
{% if wsl_distribution_config.user.default %}
default={{ wsl_distribution_config.user.default }}
{% endif %}
